# models and vocabs
*.arpa
*.arpa.gz
*vocab
*vocab1
*.lex
*.fsabin
*lookahead.bin
*.h5
*.gz
*.fst
models/

# misc
lattices/
segmented-data/
segmented-data
decode/
ivector_online.*.scp
*acc.*.sh
ivector_online.*.ark
ivectors/
ivectors
graph/
*.dot
nbest/
*.int
*.csl
*topo
*lex
*.pdf
*spk2utt
*.scp
*utt2spk
*vocab1
__pycache__/
*lang/
*mfcc/
*align/
*dict/
experiments/old/
experiments/4gram/ip-old/
results/old/

# other repos
kaldi/
elisa-asr-2019/
transformer-xl/
kaldi-utensils/