# models and vocabs
*.arpa
*.arpa.gz
*.vocab
*.lex
*.fsabin
*lookahead.bin
*.h5
*.gz
models/
baseline-lm/kaldi-mdl/lang/
baseline-lm/kaldi-mdl/mfcc/
lattices/
segmented-data/
segmented-data
decode/
ivector_online.*.scp
vocab1
*acc.*.sh
ivector_online.*.ark
ivectors/
ivectors
model/
graph/
experiments/morph/enarvi-5/data/
experiments/morph/*

# misc
__pycache__/
baseline-lm/kaldi-mdl/dict/
*utils/
*steps/
*local/
utils
steps
local
*lang/
*mfcc/
*align/
*dict/
experiments/old/
experiments/4gram/ip-old/
results/old/
results/morph/

# other repos
kaldi/
elisa-asr-2019/
transformer-xl/