# models and vocabs
*.arpa
*.arpa.gz
*vocab
*vocab1
*.lex
*.fsabin
*lookahead.bin
*.h5
*.gz
*.fst
*.mdl
models/
*.nbest
*.trn

# misc
lattices/
segmented-data/
segmented-data
decode/
ivector_online.*.scp
*acc.*.sh
ivector_online.*.ark
ivectors/
ivectors
graph/
*.dot
nbest/
*.int
*.csl
*topo
*lex
*.pdf
*spk2utt
*.scp
*utt2spk
*vocab1
__pycache__/
*lang/
*mfcc/
*align/
*dict/
experiments/old/
experiments/4gram/ip-old/
results/old/
kaldi-graph-demo
.vscode/
experiments/kaldi-am-word/
experiments/theanolm-morph-42k/expt2-sampled/lang_new/
experiments/theanolm-morph-42k/expt2-sampled/log/decode*
experiments/theanolm-morph-42k/expt2-sampled-seq40/lstm_rescored*
experiments/theanolm-morph-42k/expt2-sampled-seq40/rescored_lattices*
experiments/theanolm-100k/expt10-seq15/rescored_lattices*
experiments/theanolm-morph-42k/expt2-sampled/rescore-50best/
experiments/theanolm-morph-42k/expt2-sampled-seq40/decode_devel_tdnn7q_sp_ensemble2_50best_morph_nosp_4-gram/
experiments/theanolm-morph-42k/expt2-sampled-seq40/decode_eval_tdnn7q_sp_ensemble2_50best_morph_nosp_4-gram/

# other repos
kaldi/
elisa-asr-2019/
transformer-xl/
kaldi-utensils/
experiments/kaldi-am/
theanolm
experiments/old
mlm-scoring/
transformers/

experiments/theanolm-morph-42k/expt2-sampled/decode_lats/q/.kick
experiments/theanolm-morph-42k/expt2-sampled-seq40/q/
experiments/theanolm-morph-42k/expt2-sampled/decode_nbest/text_archives/
experiments/theanolm-morph-42k/expt2-sampled-seq40/q/
*.log
*.trn